*{
    margin: 0px;
    padding: 0px;
}
a{
    text-decoration: none;
}

body{
    font-family: 
    'Montserrat', sans-serif;
}
.center{
    padding-left: calc(50% - 600px);
    padding-right: calc(50% - 600px);
}
a:hover{
    text-decoration: underline ;
}
.top{
    height: 735px;
    background-image:  url(img/Rectangle\ 15.jpg);
    background-repeat: no-repeat;
    background-position: centre;
    background-size: cover;
}
.heder{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 18.5px;
    padding-top: 17px;
    border-bottom: 0.5px solid rgba(255, 255, 255, 0.8);
}
.input{
    border: 1px solid #FFFFFF;
    border-radius: 20px;
    box-sizing: border-box;
    width: 288px;
    height: 41px;
    background-color: transparent;
    outline: none;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #FFFFFF;
    padding-left: 32px;
    padding-right: 32px;
   
    
}
.input::placeholder{
    color: white;
} 
.menu_link{
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #FFFFFF;
}
.menu{
    display: flex;
    gap: 32px;
    &_mob{
        display: none;
    }
}

.section{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
.title{
    font-style: normal;
    font-weight: 600;
    font-size: 64px;
    line-height: 70px;
    color: #FFFFFF;
    max-width: 792px;
    margin-top: 63px;
   
}
.top_text{
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 32px;
    color: #FFFFFF;
    margin-bottom: 16px;
    
}
.link{
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    text-decoration-line: underline;
    color: #FFFFFF;
    
}
.logo {
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 44px;
    color: #FFFFFF;
    
}
.for {
    display: grid;
    gap: 32px;
    grid-template-columns: repeat(12,1fr);
    
}
.for_item{
    height: 415px;
    grid-column: span 4;
    font-style: normal;
    font-weight: 600;
    font-size: 34px;
    line-height: 41px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #FFFFFF; 
    justify-content: center;
    align-items: center;
}
.for_item_big{
    grid-column: span 6;
}
.for_item_1{
    background-image: url(img/for\ 1.jpg);
}
.for_item_2{
    background-image: url(img/for\ 2.jpg);
}
.for_item_3{
    background-image: url(img/for\ 3.jpg);
}
.for_item_4{
    background-image: url(img/for\ 4.jpg);
}
.for_item_5{
    background-image: url(img/for\ 5.jpg);
}


.heading{
    font-style: normal;
    font-weight: 600;
    font-size: 48px;
    line-height: 59px;
    align-items: center;
    color: #000000;
    margin-top: 64px;
    margin-bottom: 32px;
   
}

.product_content{
    display: flex;
    gap: 32px;
    flex-wrap: wrap;
    margin-top: 30px;
}
.product:hover{
    transform: scale(1.05);
}

.product{
    transition: all 0.3s;
    box-shadow: #C4C4C4;
    width: 378px;
    display: flex;
    flex-direction: column;
   
}

.img{
    width: 100%;
}
.special{
    font-style: normal;
    font-weight: 600;
    font-size: 48px;
    line-height: 59px;
    display: flex;
    align-items: center;
    color: #000000;
}
.P1{
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    color: #000000;
    margin-top: 10px;
    margin-bottom: 9px;
}
.P2{
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #888888;
    margin-bottom: 12px;
}
.product_price{
    display: flex;
    gap: 32px;
}
.P3{
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    color: #050505;
}
.P4{
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    text-decoration-line: line-through;
    color: #888888;
}
.Catalog{
    font-style: normal;
    font-weight: 600;
    font-size: 48px;
    line-height: 59px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #000000;
    margin-top: 72px;
    margin-bottom: 39px;
}
.box_link{
    margin-bottom: 64px;
    margin-top: 39px;
}
.link_link{
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    text-decoration-line: underline;
    color: #000000;
}

.footer{
    background-color: #F7F6F6;
    display: flex;
    justify-content: space-between;
    padding-top: 32px;
    padding-bottom: 40px;
    align-items: center;   
    
}
.logo_footer {
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 44px;
    color:black;
    padding-top: 20px;

}
.footer_content {
    display: flex;
    justify-content: space-between;
    width: 792px;

}
.footer_info {
    display: flex;
    gap: 120px;
    
    
}
.footer_item {
    display: flex;
    flex-direction: column;
    gap: 12px;
  

}
.footer_icons {
    display: flex;
    align-items: center;
    gap: 20px;
}
.form{
    display: flex;
    flex-direction: column;
    gap: 12px;
    width: 272px;
}
.news{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: #000000;
}
.title1{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #888888;
}
.h3{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    color: #000000;
}
.email{
    background: #FFFFFF;
    border: 1px solid #C4C4C4;
    border-radius: 20px;
    height: 46px;
    padding-left: 25px;
 
}
.button{
    background: rgba(222, 215, 215, 0.41);
    border: 1px solid #FFFFFF;
    border-radius: 20px;
    height: 46px;
}
@import 'tablet';
@import 'mobile';